ApacheDirectory/.classpath
ApacheDirectory/.project
ApacheDirectory/.settings
ApacheDirectory/target
ApacheDirectory/server-work
Paper/LdapCon2009_Seelmann_ApacheDirectory.aux
Paper/LdapCon2009_Seelmann_ApacheDirectory.dvi
Paper/LdapCon2009_Seelmann_ApacheDirectory.log
Paper/LdapCon2009_Seelmann_ApacheDirectory.out
Paper/LdapCon2009_Seelmann_ApacheDirectory.tex~
Paper/LdapCon2009_Seelmann_ApacheDirectory.rtf
Slides/Notes.txt
Slides/Notes.txt~

